  * {
    /* box-sizing: border-box; */
    font-family: sans-serif;
    font-size: 15px;
  }
  .content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  .img{
      width: 130%;
      float: right;
      position: relative;
      top: 50%;
      left: 20%;
  } 
  .reversible{
    width: 250px;
    height: 340px;

    /* float: left; */
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    box-sizing: border-box;
    perspective: 800px;
}

.card.tile-front{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    backface-visibility: hidden;
    transition: 1s;
    background-color: rgb(61, 60, 60);
    font-weight: bolder;
    color: #fff;
    border-radius: 5px;
}
.card.tile-back{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    color: #fff;
    background-color: rgb(61, 60, 60);
    text-indent: 2em;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 5px;
    line-height: 25px;

}
 .reversible:hover .card.tile-front{
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}
.reversible:hover .card.tile-back{
  transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
}
.search {
  background-color: rgb(29, 34, 34);
  margin-top: 20px;
  height: 30px;
  width: 100%;
  text-align:center;
  vertical-align:middle;
}
.search input{
  background-color: rgb(61, 60, 60);
  color: white;
}